.mail-preview-container{
width: 100%;
display: grid;
grid-template-rows: 1fr ;
grid-template-columns:30px 200px 1fr 70px ;
gap: 20px;

}



.mail-preview-container .date-field{

    text-align: right;
    font-family: Roboto;
    font-size: 0.8em;
}

.from-field, .date-field, .subject-field{
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .subject-field span{
   margin-left: 40px;
   font-size: .8em;
}

.star-button{
background-color:inherit;
border: none;
}

.star-button:not(.stared){
/* filter: grayscale(100%); */
/* opacity: 0.3; */
}