.mail-index{
    background-color: var(--bg5);
    min-height: 80vh;
}

.newmail-filter-container{
display: flex;
align-items: center;
}



.newmail-filter-container button{
    background-color: var(--bg6);
    margin: 10px;
    width: 100px;
    height: 56px;
    border-radius: 16px;
    border: none
    ;


}

.list-sidenav-container{
display: grid;
grid-template-columns: 150px 1fr;
margin-top: 20px;
 }