.mail-preview-container{
width: 100%;
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 200px 1fr 80px ;
gap: 20px;

}



.mail-preview-container .date-field{

    text-align: right;
}

.from-field, .date-field, .subject-field{
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}