.mail-index {
  background-color: var(--bg5);
  min-height: 80vh;
}

.newmail-filter-container {
  position: fixed;
  top: 55px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  transition: var(--shortdelay);
}

.newmail-filter-container button {
  background-color: var(--bg6);
  margin: 10px;
  width: 155px;
  height: 56px;
  border-radius: 16px;
  border: none;
  font-family: Roboto-Bold;
  font-size: 1em;
}

.list-sidenav-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 100px;
  transition: var(--shortdelay);
}

.folder-container {
  position: fixed;
  top: 130px;
  width: 200px;
  transition: var(--shortdelay);
}
.newmail-filter-container i::before {
  color: black;
  margin-right: 10px;
}
