.mail-index .list-container li {
  display: flex;
  list-style: none;

  justify-content: space-between;
  transition: var(--shortdelay);
}

.mail-index .list-container button {
  opacity: 0;
  transition: var(--shortdelay);
  color: inherit;
  background-color: none;
}

.mail-index .list-container li:hover button {
  opacity: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mail-index .list-container li {
  border: 1px solid var(--gray2);
}

.mail-index .list-container li.read {
  /* padding: 2px; */
  background-color: var(--bg4);
  /* font-style: italic; */
  overflow-wrap: break-word;
  height: 30px;
}

.mail-index .list-container li:hover {
  box-shadow: 1px 2px 8px var(--gray3);
}

.btn-container {
  margin: 5px;
  width: auto;
  display: flex;
  gap: 10px;
}
