.sidebar-container button {
  border: none;
  background-color: var(--bg5);
  display: block;
  margin: auto;
  padding: 10px 5px;
  margin: 10px 10px 10px 0;
  transition: var(--shortdelay);
  font-family: Roboto-Bold;
  font-size: 1em;
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2rem;
  width: 100%;
}

.sidebar-container button:hover {
  cursor: pointer;
  background-color: var(--gray5);
}

.selected-folder {
  background-color: var(--bg1) !important;
}
