:root {
    --bg1: lightblue;
    --bg4: rgb(227, 237, 241);
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);
    --bg4: #f0f4f9;
    --bg5: #fff;
    --bg6: #a8c7fa;
    
    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);
    --color4: rgb(241, 233, 110);

    --gray0: #eeeeee;
    --gray1: #aaa;
    --gray2: #888;
    --gray3: #333;
    --grey4:#d4cfcf;

    --white : #ffffff;
    --shortdelay: 0.3s;
    --readitem:#f2f6fc;

}