:root {
  --bg1: lightblue;
  --bg4: rgb(227, 237, 241);
  --bg2: rgb(50, 160, 204);
  --bg3: rgb(89, 134, 206);
  --bg4: #f0f4f9;
  --bg5: #fff;
  --bg6: #a8c7fa;

  --color1: rgba(120, 178, 255, 0.8);
  --color2: rgba(137, 255, 173, 0.8);
  --color3: rgba(253, 124, 122, 0.8);
  --color4: rgba(255, 247, 138, 0.8);

  --gray0: #f3f3f3;
  --gray1: #aaa;
  --gray2: #888888cc;
  --gray3: #333;
  --grey4: #d4cfcf;
  --gray5: #dddfd9;
  --gray6: #888888;

  --black: black;
  --white: #ffffff;
  --readitem: #f2f6fc;

  --shortdelay: 0.3s;
}
