
.note-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 30px auto;
    
}

.note-add-container form {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 600px;
}

.note-add-container input {
    border: none;
    border-radius: 10px;
}

.note-add-container input:focus {
    outline: none;
}

.note-add-container .title-input {
    font-size: 22px;
    padding: 16px 16px 0 16px;
}

.note-add-container .body-input {
    font-size: 16px;
    padding: 12px 16px 12px 16px;
}

.note-add-container .handle-note-type {
    display: flex;
    gap: 10px;
    margin: 4px 16px;
}

.note-add-container .handle-note-type button {
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    transition: 300ms;
}

.note-add-container .handle-note-type button:hover {
    cursor: pointer;
    background-color: rgba(87, 87, 87, 0.18);
}



